<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contactos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contactos.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logotipo.jpg') }}" type="image/x-icon" />
  </head>

  <body>
    <header>
      <div class="header-content">
        <!-- Link para a logo -->
        <a href="">
          <img class="logo" src="{{ url_for('static', filename='img/LOGO3_upscayl_16x_ultrasharp.png') }}" alt="logotipo" />
        </a>

        <!-- Navegação -->
        <nav style="background-color: #173751; height: 80px">
          <ul>
            <li class="dropdown">
              <a class="options" href="#">Candidaturas &nbsp;&#9660;</a>
              <ul class="submenu">
                <li><a href="vagas">Vagas Disponíveis</a></li>
                <li><a href="formularioespontaneo">Candidatura Espontânea</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="options" href="#">Empresas &nbsp;&#9660;</a>
              <ul class="submenu">
                <li><a href="servicos">Serviços</a></li>
              </ul>
            </li>
            <li><a class="options" href="contactos">Contactos</a></li>
            <li><a class="options" href="sobrenos">Sobre nós</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <div class="container">
      <h1>Contacte-nos</h1>

      <div class="content">
        <!-- Secção de Contactos -->
        <div class="contact-section">
          <h2>Contactos</h2>
          <div class="contact-details">
            <div class="contact-item">
              <h3>Morada</h3>
              <p>
                Hoogstraat 115-E<br />
                3111 HD - Schiedam, Rotterdam<br />
                Países Baixos
              </p>
            </div>

            <div class="contact-item">
              <h3>Contactos</h3>
              <p><a href="tel:+351912021390"> Porto: +351 912 021 390 </a> <p >Custo de chamada para rede móvel nacional</p> </p>
              
              <p><a href="tel: +31 (0) 645803894"> Roterdão: +31 (0) 645803894</a> <p style="font-size: 10px;">Custo de chamada para Rede Móvel Internacional</p>
              </p>
            </div>

            <div class="contact-item">
              <h3>Email</h3>
              <p>
                <a href="mailto:geral@prosperaservice.com"
                  >geral@prosperaservice.com</a
                >
              </p>
            </div>
          </div>
        </div>

        <!-- Secção do Formulário -->
        <div class="form-section">
          <h2>Envie-nos uma mensagem</h2>
          <form action="#" method="post">
            <div class="form-group">
              <label for="name">Nome de contacto</label>
              <input
                type="text"
                id="nome-contacto"
                name="nome-contacto"
                required
              />
            </div>

            <div class="form-group">
              <label for="name">Nome da Empresa</label>
              <input
                type="text"
                id="nome-empresa"
                name="nome-empresa"
                required
              />
            </div>

            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" id="email" name="email" required />
            </div>

            <div class="form-group">
              <label for="name">Telefone</label>
              <input type="text" id="telefone" name="telefone" required />
            </div>

            <div class="form-group">
              <label for="name">Área de Atividade</label>
              <input
                type="text"
                id="area-atividade"
                name="area-atividade"
                required
              />
            </div>

            <div class="form-group">
              <label for="message">Mensagem</label>
              <textarea
                id="message"
                name="message"
                rows="5"
                required
              ></textarea>
            </div>

            <button type="submit">Enviar</button>
          </form>
        </div>
      </div>
    </div>

    <footer>
      <p>Email: geral@prosperaservice.com</p>
      <p>&copy; 2024 Prospera Service |</p>
    </footer>
  </body>
</html>
