<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detalhes da Vaga</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/detalhevaga.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='img/logotipo.jpg') }}"
      type="image/x-icon"
    />
  </head>
  <body>
    <header>
      <div class="header-content">
        <a href="/admin">
          <img
            class="logo"
            src="{{ url_for('static', filename='img/LOGO3_upscayl_16x_ultrasharp.png') }}"
            alt="logotipo"
          />
        </a>
        <nav style="background-color: #173751; height: 80px">
          <ul>
            <li class="dropdown">
              <a class="options" href="#">Candidaturas &nbsp;&#9660;</a>
              <ul class="submenu">
                <li><a href="criarvaga">Criar Vagas</a></li>
                <li>
                  <a href="candidaturasrecebidas">Candidaturas Recebidas</a>
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="options" href="#">Empresas &nbsp;&#9660;</a>
              <ul class="submenu">
                <li><a href="pedidoscontacto">Pedidos Contacto</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <main>
      <section class="vaga-detalhes">
        <form action="/criarvaga" method="POST">
          <h2>Título da Vaga</h2>
          <p>
            <input
              type="text"
              name="titulo"
              style="
                text-align: center;
                display: block;
                margin-right: auto;
                margin-left: auto;
                width: 500px;
                height: 50px;
                font-size: 35px;
              "
              required
            />
          </p>
          <h2>Área</h2>
          <p>
            <input
              type="text"
              name="area"
              style="
                text-align: center;
                display: block;
                margin-right: auto;
                margin-left: auto;
                width: 250px;
                height: 25px;
                font-size: 25px;
              "
              required
            />
          </p>

          <h2>Descrição</h2>
          <p>
            <textarea name="descricao" rows="15" cols="90" required></textarea>
          </p>

          <h2>Requisitos</h2>
          <p>
            <textarea name="requisitos" rows="15" cols="90" required></textarea>
          </p>

          <h2>Benefícios</h2>
          <p>
            <textarea name="beneficios" rows="15" cols="90" required></textarea>
          </p>

          <h2>Localização</h2>
          <p>
            <select name="localizacao" required>
              <option value="Portugal">Portugal</option>
              <option value="Estrangeiro">Estrangeiro</option>
              <option value="Remoto">Remoto</option>
            </select>
          </p>

          <h2>Tipo de Contrato</h2>
          <p>
            <select name="tipo_contrato" required>
              <option value="Full Time">Full Time</option>
              <option value="Part-time">Part-time</option>
            </select>
          </p>

          <button type="submit" class="btn-candidatar">Criar Vaga</button>
        </form>
      </section>
    </main>

    <footer>
      <p>Email: geral@prosperaservice.com</p>
      <p>&copy; 2024 Prospera Service |</p>
    </footer>
  </body>
</html>
