<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detalhes da Vaga</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/detalhevaga.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vagas.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logotipo.jpg') }}" type="image/x-icon" />
  </head>
  <body>
    <header>
      <div class="header-content">
        <!-- Link para a logo -->
        <a href="/">
          <img
            class="logo"
            src="{{ url_for('static', filename='img/LOGO3_upscayl_16x_ultrasharp.png') }}"
            alt="logotipo"
          />
        </a>

        <!-- Navegação -->
        <nav style="background-color: #173751; height: 80px">
          <ul>
            <li class="dropdown">
              <a class="options" href="#">Candidaturas &nbsp;&#9660;</a>
              <ul class="submenu">
                <li><a href="vagas">Vagas Disponíveis</a></li>
                <li>
                  <a href="formularioespontaneo">Candidatura Espontânea</a>
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="options" href="#">Empresas &nbsp;&#9660;</a>
              <ul class="submenu">
                <li><a href="servicos">Serviços</a></li>
              </ul>
            </li>
            <li><a class="options" href="contactos">Contactos</a></li>
            <li><a class="options" href="sobrenos">Sobre nós</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <main>
      <section class="vaga-detalhes">
        <h1>{{ vaga[1] }}</h1>
        <h2>Descrição:</h2><p> {{ vaga[2] }}</p><br>
        <p>Área:<br> {{ vaga[7] }}</p><br>
        <p>Requisitos:<br> {{ vaga[3] }}</p><br>
        <p>Benefícios:<br> {{ vaga[4] }}</p><br>
        <p>Localização:<br> {{ vaga[5] }}</p><br>
        <p>Tipo de Contrato:<br> {{ vaga[6] }}</p><br>
        <form action="{{ url_for('formulariovaga', vaga_id=vaga[0]) }}" method="get">
          <button class="apply-btn">Candidatar-se</button>
        </form>        
      </section>
    </main>

    <footer>
      <p>Email: geral@prosperaservice.com</p>
      <p>&copy; 2024 Prospera Service |</p>
    </footer>
  </body>
</html>