<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detalhes da Vaga</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/detalhevaga.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='img/logotipo.jpg') }}"
      type="image/x-icon"
    />
  </head>
  <body>
    <header>
      <div class="header-content">
        <a href="/"
          ><img
            class="logo"
            src="{{ url_for('static', filename='img/LOGO3_upscayl_16x_ultrasharp.png') }}"
            alt="logotipo"
        /></a>

        <nav style="background-color: #173751; height: 80px">
          <ul>
            <li class="dropdown">
              <a class="options" href="#">Candidaturas &nbsp;&#9660;</a>
              <ul class="submenu">
                <li><a href="vagas">Vagas Disponíveis</a></li>
                <li>
                  <a href="formularioespontaneo">Candidatura Espontânea</a>
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="options" href="#">Empresas &nbsp;&#9660;</a>
              <ul class="submenu">
                <li><a href="servicos">Serviços</a></li>
              </ul>
            </li>
            <li>
              <a class="options" href="contactos">Contactos</a>
            </li>
            <li>
              <a class="options" href="sobrenos">Sobre nós</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <main>
      <section class="vaga-detalhes">
        <h1></h1>
        <p class="localizacao">Localização:</p>
        <p class="tipo-contrato">Tipo de Contrato:</p>

        <h2>Descrição da Vaga</h2>
        <p></p>

        <h2>Responsabilidades</h2>
        <ul>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>

        <h2>Requisitos</h2>
        <ul>
          <li></li>
          <li></li>
          <li></li>
        </ul>

        <h2>Benefícios</h2>
        <ul>
          <li></li>
          <li></li>
          <li></li>
        </ul>
        <form action="formulariovaga">
          <button class="btn-candidatar">Candidatar-se</button>
        </form>
      </section>
    </main>

    <footer>
      <p>Email: geral@prosperaservice.com</p>
      <p>&copy; 2024 Prospera Service |</p>
    </footer>
  </body>
</html>
