<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detalhes da Candidatura</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/detalhevaga.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap" rel="stylesheet" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logotipo.jpg') }}" type="image/x-icon" />
  </head>
  <body>
    <header>
      <div class="header-content">
        <a href="/">
          <img class="logo" src="{{ url_for('static', filename='img/LOGO3_upscayl_16x_ultrasharp.png') }}" alt="logotipo" />
        </a>
        <nav style="background-color: #173751; height: 80px">
          <ul>
            <li class="dropdown">
              <a class="options" href="#">Candidaturas &nbsp;&#9660;</a>
              <ul class="submenu">
                <li><a href="criarvaga">Criar Vagas</a></li>
                <li><a href="vagasadmin">Vagas</a></li>
                <li><a href="candidaturasrecebidas">Candidaturas Recebidas</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="options" href="#">Empresas &nbsp;&#9660;</a>
              <ul class="submenu">
                <li><a href="pedidoscontacto">Pedidos Contacto</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <section class="vaga-detalhes">
        <h2>Descrição da Candidatura</h2>
        <p></p>

        <h2>Informações</h2>
        
          {% if candidatura[0] == 'espontanea' %}
          <p><strong>Nome:</strong> {{ candidatura[2] }}</p>
          <p><strong>Email:</strong> {{ candidatura[3] }}</p>
          <p><strong>Telefone:</strong> {{ candidatura[4] }}</p>
          <p><strong>Nacionalidade:</strong> {{ candidatura[5] }}</p>
          <p><strong>Área:</strong> {{ candidatura[6] }}</p>
          <p><strong>Currículo:</strong> 
              <a href="{{ url_for('download_cv', candidatura_id=candidatura[1]) }}" download>Download CV</a>
          </p>
          {% else %}
            <p><strong>Nome completo:</strong> {{ candidatura[1] }}</p>
            <p><strong>Email:</strong> {{ candidatura[2] }}</p>
            <p><strong>Telefone:</strong> {{ candidatura[3] }}</p>
            <p><strong>Vaga a que se candidatou:</strong> {{ candidatura[5] }}</p>
            <p><strong>Currículo:</strong> 
                <a href="{{ url_for('download_cv_vaga', candidatura_id=candidatura[0]) }}" download>Download CV</a>
            </p>
          {% endif %}
        <form action="{{ url_for('candidaturasrecebidas') }}">
          <button class="btn-candidatar">Voltar</button>
        </form>
      </section>
    </main>
    <footer>
      <p>Email: geral@prosperaservice.com</p>
      <p>&copy; 2024 Prospera Service |</p>
    </footer>
  </body>
</html>
