<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Prospera Service</title>
    
    <!-- Link para o CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    
    <!-- Fonte Google -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logotipo.jpg') }}" type="image/x-icon" />
  </head>
  <body>
    <!-- Cabeçalho -->
    <header>
      <div class="header-content">
        <!-- Link para a logo -->
        <a href="/">
          <img class="logo" src="{{ url_for('static', filename='img/LOGO3_upscayl_16x_ultrasharp.png') }}" alt="logotipo" />
        </a>

        <!-- Navegação -->
        <nav style="background-color: #173751; height: 80px">
          <ul>
            <li class="dropdown">
              <a class="options" href="#">Candidaturas &nbsp;&#9660;</a>
              <ul class="submenu">
                <li><a href="vagas">Vagas Disponíveis</a></li>
                <li><a href="formularioespontaneo">Candidatura Espontânea</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="options" href="#">Empresas &nbsp;&#9660;</a>
              <ul class="submenu">
                <li><a href="servicos">Serviços</a></li>
              </ul>
            </li>
            <li><a class="options" href="contactos">Contactos</a></li>
            <li><a class="options" href="sobrenos">Sobre nós</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <!-- Especialidade -->
    <section id="especialidades">
      <div class="container">
        <div class="grid">
          <!-- Indústria -->
          <div class="especialidade">
            <img src="{{ url_for('static', filename='img/technical-support.png') }}" alt="Técnica" />
            <h3>Técnica</h3>
            <p>
              Especialistas no recrutamento de profissionais qualificados para a
              indústria, construção e metalomecânica.
            </p>
          </div>

          <!-- Logística -->
          <div class="especialidade">
            <img src="{{ url_for('static', filename='img/trolley_4033037.png') }}" alt="Logística" />
            <h3>Logística</h3>
            <p>
              Recrutamos e selecionamos operadores de produção, líderes de
              logística e motoristas de pesados.
            </p>
          </div>

          <!-- Tecnologia -->
          <div class="especialidade">
            <img src="{{ url_for('static', filename='img/monitor_957463.png') }}" alt="Tecnologia" />
            <h3>Tecnologia</h3>
            <p>
              Recrutamento de profissionais certificados nas áreas tecnológicas.
            </p>
          </div>

          <!-- Serviços -->
          <div class="especialidade">
            <img src="{{ url_for('static', filename='img/cloud-computing.png') }}" alt="Serviços" />
            <h3>Serviços</h3>
            <p>
              Ampla gama de serviços prestados às empresas em diversas áreas.
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Seção de Slogan -->
    <section class="seccao-slogan">
      <h2>
        O sol brilha para todos assim como as
        <strong>OPORTUNIDADES DE EMPREGO</strong>
      </h2>
    </section>

    <!-- Seção de Candidaturas -->
    <section class="candidaturas">
      <div class="botoes-container">
        <a href="vagas" class="botao-principal">VER TODAS AS OFERTAS DISPONÍVEIS</a>
        <div>
          <span class="texto-ou">ou</span>
          <a href="formularioEspontaneo" class="botao-secundario">ENVIAR CANDIDATURA ESPONTÂNEA</a>
        </div>
      </div>
    </section>

    <section id="seccao-img"></section>

    <!-- Seção de Slogan 2 -->
    <section class="seccao-slogan2">
      <h2 style="color: #173751">
        De PESSOAS para PESSOAS, a Prospera Service aposta na
        <h2 style="color: #173751">
          <strong>Qualidade, Segurança e Compromisso</strong>
        </h2>
      </h2>
    </section>

    <!-- Rodapé -->
    <footer>
      <p>Email: geral@prosperaservice.com</p>
      <p>&copy; 2024 Prospera Service |</p>
    </footer>
  </body>
</html>
