<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Prospera Service</title>
    <link rel="stylesheet" href="/Styles/main.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Cabeçalho -->
    <header>
      <div class="header-content">
        <img class="logo" src="/img/LOGO3_upscayl_16x_ultrasharp.png" alt="" />
        <nav style="background-color: #173751; height: 80px">
          <ul>
            <li class="dropdown">
              <a class="options" href="#">Candidaturas &nbsp;&#9660;</a>
              <ul class="submenu">
                <li><a href="#">Vagas Disponíveis</a></li>
                <li><a href="#">Candidatura Espontânea</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="options" href="#">Empresas &nbsp;&#9660;</a>
              <ul class="submenu">
                <li><a href="#">Serviços</a></li>
              </ul>
            </li>
            <li><a class="options" href="#">Contactos</a></li>
            <li><a class="options" href="#">Sobre nós</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <section id="especialidades">
       
      <div class="container">
       
        <div class="grid">
          
          <!-- Indústria -->
          <div class="especialidade">
            <img src="/img/technical-support.png" alt="Técnica">
            <h3>Técnica</h3>
            <p>Recrutamos profissionais para a área da indústria, com foco nos setores alimentar e metalomecânica.</p>
          </div>
          
          <!-- Logística -->
          <div class="especialidade">
            <img src="/img/trolley_4033037.png" alt="Logística">
            <h3>Logística</h3>
            <p>Criamos equipas sólidas no setor da logística, selecionando operadores de armazém e motoristas de pesados.</p>
          </div>
          
          <!-- Construção -->
          <div class="especialidade">
            <img src="/img/monitor_957463.png" alt="Tecnologia">
            <h3>Tecnologia</h3>
            <p>Especialistas no recrutamento para o setor da construção, com mão-de-obra qualificada.</p>
          </div>
          
          <!-- Serviços -->
          <div class="especialidade">
            <img src="/img/cloud-computing.png" alt="Serviços">
            <h3>Serviços</h3>
            <p>Recrutamento de operadores de loja e administrativos para empresas de serviços.</p>
          </div>
    
      
    
        </div>
      </div>
    </section>
    


    <!-- Seção de Serviços -->
    <section class="services">
      <h2>Nossos Serviços</h2>
      <div class="service">
        <h3>Trabalho Temporário</h3>
        <p>Reforço temporário de equipas em momentos de maior necessidade.</p>
      </div>
      <div class="service">
        <h3>Recrutamento e Seleção</h3>
        <p>Selecionamos os melhores talentos para sua empresa.</p>
      </div>
    </section>


    

    <!-- Seção de Clientes -->
    <section class="clients">
      <h2>Empresas que Confiam em Nós</h2>
      <ul>
        <li>E.Leclerc</li>
        <li>Carfast Premium Rent a Car</li>
        <li>JPC Contabilidades</li>
        <li>Matfin Consultoria Financeira</li>
      </ul>
    </section>

    <!-- Seção de Testemunhos -->
    <section class="testimonials">
      <h2>O que Nossos Clientes Dizem</h2>
      <blockquote>
        "Com a D'ACCORD, sabemos que iremos com certeza ter o retorno esperado."
        <cite>Cristiana Morais - Carfast Premium Rent-a-Car</cite>
      </blockquote>
      <blockquote>
        "D'Accord é profissionalismo e simpatia juntos."
        <cite>Madalena Sá - E.Leclerc</cite>
      </blockquote>
    </section>

    <!-- Seção de Notícias -->
    <section class="news">
      <h2>Novidades do Mundo do Trabalho</h2>
      <article class="news-article">
        <h3>
          <a href="#"
            >Gestão de Pessoas e Avaliação de Desempenho: Que Relação?</a
          >
        </h3>
        <p>Maria Barbosa - 20 de Setembro, 2023</p>
      </article>
      <article class="news-article">
        <h3><a href="#">Plano de Carreira: Vale a Pena Pensar Nisso?</a></h3>
        <p>Rui Lages - 18 de Julho, 2023</p>
      </article>
    </section>

    <!-- Rodapé -->
    <footer>
      <p>
        Centro Empresarial de Vilar do Pinheiro, 300 4485-947 Vilar do Pinheiro
      </p>
      <p>Email: geral@daccord.pt | Telefone: +351 229 419 415</p>
      <p>&copy; 2023 D'Accord</p>
    </footer>
  </body>
</html>
