<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detalhes da Vaga</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/detalhevaga.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vagas.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logotipo.jpg') }}" type="image/x-icon" />
  </head>
  <body>
    <header>
      <div class="header-content">
        <a href="admin"
          ><img
            class="logo"
            src="{{ url_for('static', filename='img/LOGO3_upscayl_16x_ultrasharp.png') }}"
            alt="logotipo"
        /></a>

        <nav style="background-color: #173751; height: 80px">
          <ul>
            <li class="dropdown">
              <a class="options" href="#">Candidaturas &nbsp;&#9660;</a>
              <ul class="submenu">
                <li><a href="criarvaga">Criar Vagas</a></li>
                <li><a href="vagasadmin">Vagas</a></li>
                <li>
                  <a href="candidaturasrecebidas"
                    >Candidaturas Recebidas</a
                  >
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="options" href="#">Empresas &nbsp;&#9660;</a>
              <ul class="submenu">
                <li><a href="pedidoscontacto">Pedidos Contacto</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <main>
      <section class="filters">
        <form action="{{ url_for('pedidoscontacto') }}" method="get">
          <div class="filter-group">
            <label for="search">Pesquisar por Nome da Empresa ou Área:</label>
            <input type="text" id="search" name="search" placeholder="Ex: Prospera/TI" value="{{ request.args.get('search', '') }}" />
          </div>
          <button type="submit">Filtrar</button>
        </form>
      </section>
      

      <section class="job-listings">
        {% for pedido in pedidos %}
        <div class="job-item">
            <form action="{{ url_for('detalhepedido', pedido_id=pedido[0]) }}" method="get">            
                <h2>{{ pedido[2] }}</h2>
                <p>Área: {{ pedido[5] }}</p>
                <button class="apply-btn">Saber Mais</button>
            </form>
            <br>
            <form action="{{ url_for('apagar_pedido', pedido_id=pedido[0]) }}" method="post" style="display:inline;">
                <button type="submit" class="delete-btn">Apagar</button>
            </form>
        </div>
        {% endfor %}
    </section>
    
    
    </main>

    <footer>
      <p>Email: geral@prosperaservice.com</p>
      <p>&copy; 2024 Prospera Service |</p>
    </footer>
  </body>
</html>
