<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Prospera Service</title>
    <link rel="stylesheet" href="/Styles/main.css" />
    <link rel="stylesheet" href="/Styles/servicos.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      href="/img/logotipo.jpg.jpg"
      type="image/x.icon"
    />
  </head>
  <body>
    <!-- Cabeçalho -->
    <header>
      <div class="header-content">
        <a href="/templates/index.html"
          ><img
            class="logo"
            src="/img/LOGO3_upscayl_16x_ultrasharp.png"
            alt="logotipo"
        /></a>

        <nav style="background-color: #173751; height: 80px">
          <ul>
            <li class="dropdown">
              <a class="options" href="#">Candidaturas &nbsp;&#9660;</a>
              <ul class="submenu">
                <li><a href="/templates/vagas.html">Vagas Disponíveis</a></li>
                <li>
                  <a href="/templates/formularioEspontaneo.html"
                    >Candidatura Espontânea</a
                  >
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="options" href="#">Empresas &nbsp;&#9660;</a>
              <ul class="submenu">
                <li><a href="/templates/servicos.html">Serviços</a></li>
              </ul>
            </li>
            <li>
              <a class="options" href="/templates/contactos.html">Contactos</a>
            </li>
            <li><a class="options" href="/templates/sobrenos.html">Sobre nós</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <!-- Especialidade -->
    <section id="casal">
      
    </section>

    <!-- Seção de Serviços -->
    <section class="seccao-slogan">
      <h2>
        A PROSPERA service como sua 
        <strong>PARCEIRA DE NEGÓCIOS</strong>
      </h2>
    </section>

    <!-- Seção do slogan2 -->
    <section class="seccao-slogan2">
      <h2 style="color: #173751">
        Apostamos nos seguintes valores
        <h2 style="color: #173751">
          <strong>&#10004 QUALIDADE &#10004 COMPROMISSO</strong> <br>
          • Rigor Técnico
          • Rigor na Experiência
          • Rigor na Certificação Profissional
        </h2>
      </h2>


    </section>
     <!-- Especialidade -->
     <section id="caixas">
      <div class="container">
        <div class="grid">
          <!-- Indústria -->
          <div class="especialidade">
            <img src="/img/technical-support.png" alt="Técnica" />
            <h3>Cedência de mão de obra</h3>
          </div>

          <!-- Logística -->
          <div class="especialidade">
            <img src="/img/trolley_4033037.png" alt="Logística" />
            <h3>Recrutamento e Seleção</h3>
          </div>
        </div>
      </div>
     </section>

     <div class="botoes-container">
      <!-- Botão principal -->
      <a href="/templates/contactos.html" class="botao-principal"
        >Pedir Orçamento</a
      > 
    </div>


    <!-- Rodapé -->
    <footer>
      <p>Email: geral@prosperaservice.com</p>
      <p>&copy; 2024 Prospera Service |</p>
    </footer>
  </body>
</html>
