<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contactos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contactos.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sobrenos.css') }}">
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logotipo.jpg') }}" type="image/x-icon" />
  </head>

  <body>
    <header>
      <div class="header-content">
        <a href="/"
          ><img
            class="logo"
            src="{{ url_for('static', filename='img/LOGO3_upscayl_16x_ultrasharp.png') }}"
            alt="logotipo"
        /></a>

        <nav style="background-color: #173751; height: 80px">
          <ul class="navbar">
            <li class="dropdown">
              <a class="options" href="#">Candidaturas &nbsp;&#9660;</a>
              <ul class="submenu">
                <li><a href="vagas">Vagas Disponíveis</a></li>
                <li>
                  <a href="formularioespontaneo"
                    >Candidatura Espontânea</a
                  >
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="options" href="#">Empresas &nbsp;&#9660;</a>
              <ul class="submenu">
                <li><a href="servicos">Serviços</a></li>
              </ul>
            </li>
            <li>
              <a class="options" href="contactos">Contactos</a>
            </li>
            <li><a class="options" href="sobrenos">Sobre nós</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <section id="team"></section>

    <section style="background-color: #173751; margin: 0;">
    <div class="especialidade" style="text-align:center;">
      <img src="{{ url_for('static', filename='img/LOGO3_upscayl_16x_ultrasharp.png') }}" alt="logo"/>
      
      <h2 style="color: #cbb26b;">
        Localizada em Portugal e nos Países Baixos, um ponto-chave relativamente a
        oportunidades de mercado, a PROSPERA Service tem como foco primordial o
        recrutamento de profissionais qualificados e certificados, actuando em
        território nacional e internacional, maioritariamente nos países Benelux. <br> <br>

       <h1 style="color: #cbb26b; font-size: 40px;">De pessoas para pessoas, a PROSPERA Service aposta na Qualidade,
        Segurança e Compromisso. </h1>  

      </h2>
    </div>
    </section>

    <section id="team1"></section>
      
    <footer>
      <p>Email: geral@prosperaservice.com</p>
      <p>&copy; 2024 Prospera Service |</p>
    </footer>
  </body>
</html>
