/* Reset básico para remover margens e preenchimentos padrões */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #173751;
  color: #fff;
  padding: 0 20px;
  position: fixed; /* Torna o header fixo */
  top: 0;
  left: 0;
  width: 100%; /* Garante que ocupe toda a largura da página */
  z-index: 1000; /* Garante que o header fique acima de outros elementos */
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f4f4f4;
  margin: 0;
  padding-top: 90px; /* Ajusta o espaço para o conteúdo abaixo da navbar fixa */
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

.logo {
  width: 250px;
  margin-right: auto;
}
/* NAVBar */
nav {
  flex-grow: 1;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

nav ul li {
  position: relative;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 25px 20px;
  display: flex;
}

nav ul li a:hover {
  text-decoration: underline;
}
nav ul li a:hover {
  text-decoration: none;
  color: #fff;
}

/* Submenu Estilos */
nav ul li ul.submenu {
  border-radius: 10px;
  display: none;
  position: absolute;
  background-color: #173751;
  padding: 5px 5px;
  list-style: none;
  top: 60px;
  left: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

nav ul li ul.submenu li {
  display: block;
}

nav ul li ul.submenu li a {
  color: #cbb26b;
  padding: 20px 25px;
  text-decoration: none;
  display: block;
  font-weight: normal;
}

nav ul li ul.submenu li a:hover {
  background-color: rgb(77, 121, 153);
  border-radius: 10px;
}

/* Exibir submenu ao passar o mouse */
nav ul li:hover ul.submenu {
  display: block;
}

.options {
  color: #cbb26b;
}
/* Sections da pagina */
section {
  padding: 40px 20px;
  margin: 20px 0;
}

#especialidades {
  margin-top: 0;
  padding-top: 0;
  background: url("/img/pikaso_embed.png") no-repeat center top/cover;
  padding: 50px 0;
  text-align: center;
}

#especialidades .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

#especialidades h2 {
  font-size: 2.5em;
  margin-bottom: 40px;
  color: #173751;
}

#especialidades .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

#especialidades .especialidade {
  margin-top: 350px; /* Ajuste este valor até que as caixas fiquem na posição desejada */
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#especialidades .especialidade:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#especialidades img {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}

#especialidades h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #173751;
}

#especialidades p {
  font-size: 1em;
  color: #173751;
  line-height: 1.6;
}
.seccao-slogan {
  margin-top: 0;
  padding-top: 0;
  background-color: #173751;
  padding: 40px 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.seccao-slogan h2 {
  font-style: italic;
  font-family: sans-serif;
  color: #cbb26b;
}

.candidaturas {
  background-color: #fff;
  padding: 40px 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para centralizar os botões */
.botoes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.botao-principal {
  display: inline-block;
  padding: 12px 24px;
  background-image: linear-gradient(to right, #173751, rgb(118, 167, 201));
  color: white;
  text-align: center;
  border-radius: 25px;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 10px;
}

.botao-secundario {
  display: inline-block;
  font-size: 14px;
  text-decoration: none;
  color: #173751;
  font-weight: bold;
}

.texto-ou {
  color: #173751;
  font-size: 12px;
  margin-right: 8px;
  text-align: center;
  display: block;
  margin-bottom: 8px;
}
h2 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 2rem;
  color: #333;
}

#seccao-img{
  margin-top: 0;
  padding-top: 0;
  background: url("/img/woman-selecting-pictures-people.png") no-repeat center top/cover;
  padding: 280px 0;
  text-align: center;
}


.seccao-slogan2 {
  background-color: #fff;
  padding: 40px 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* Footer */
footer {
  background-color: #173751;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  margin-top: 20px;
  position:static;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 5px 0;
}

