#casal {
    margin-top: 0;
    padding-top: 0;
    background: url("/img/woman-man-shake-hands-partners-made-deal-created-with-generative-ai-technology.jpg") no-repeat center top/cover;
    padding: 200px;
    text-align: center;
  }