#team {
  margin-top: 0;
  padding-top: 0;
  background: url("/img/cabeçalho.jpg") no-repeat center bottom/cover;
  padding: 300px;
  text-align: center;
  margin: 0;
}

#team1 {
  margin-top: 0;
  padding-top: 0;
  background: url("/img/pikaso_embed\ \(1\).png") no-repeat center bottom/cover;
  padding: 300px;
  text-align: center;
  margin: 0;
}

.logo1 {
  width: 50%;
  display: inline-block;
  margin-top: 0;
  padding-top: 0;
  background: url("/img/LOGO3_upscayl_16x_ultrasharp.png") no-repeat center
    bottom/cover;
  padding: 300px;
  text-align: center;
}

.text {
  width: 50%;
  display: inline-block;
}
